* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    /* 火狐滚动条样式 */
    scrollbar-width: thin;
    scrollbar-color:  rgba(100, 100, 100, 0.05) transparent;
    -ms-overflow-style:none;

    --text-color: #f04969;
    --bg-color: #f04969;
    --contain-bg-color: #272e43;

    
    /* #272E49 */
    /* #4A71B4 */
    /* #A1B6DF */
    /* #E4DA4A */
    /* #E28F25 */
    /* #FABA69 */

    /* #72A8CE */
    /* #87C6D9 */
    /* #9B87C8 */
    /* #FDBF9B */
    /* #EE8F88 */

    /* #4373B0 */
    /* #99B2EB */
    
    /* #5F83CB */
    /* #E5D937 */
}

.icon-box {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

/* 滚动条全局设置 */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb {
    width: 6px;
    border-radius: 6px;
    background-color: rgba(100, 100, 100, 0.05);
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(100, 100, 100, 0.1);
}
::-webkit-scrollbar-track {
    width: 6px;
    border-radius: 6px;
    background-color: transparent;
}

/* flex */
.flex {
    display: flex;
}
.fl-col {
    flex-direction: column;
}
.fl-sta-cen {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.fl-cen-cen {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fl-bet-cen {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fl-sta-bet {
    display: flex;
    justify-content: flex-start;
    align-items: space-between;
}
.fl-row-reverse {
    flex-direction: row-reverse;
}
.fl-wrap {
    flex-wrap: wrap;
}
.fl-item {
    flex: 1;
}

/* cursor */
.cursor {
    cursor: pointer;
}
.cursor-move {
    cursor: move;
}

/* margin */
.mr-t-20 {
    margin-top: 20px;
}
.mr-r-20 {
    margin-right: 20px;
}
.mr-r-10 {
    margin-right: 10px;
}

/* ul */
ul {
    list-style: none;
}

/* size */
.full-width {
    width: 100%;
}
.full-height {
    height: 100%;
}

/* radius */
.radius-8 {
    border-radius: 8px;
}

/* overflow */
.ov-auto {
    overflow: auto;
}